---
import { getCollection, render } from "astro:content";
import PageLayout from "../../layouts/PageLayout.astro";

export async function getStaticPaths() {
  const blogs = await getCollection("blog");
  const colors = ["magenta", "cyan", "yellow"];

  return blogs.map((entry, idx) => ({
    params: { id: entry.id },
    props: { entry, color: colors[idx % colors.length] },
  }));
}

const { entry, color } = Astro.props;
const { Content } = await render(entry);
const { title, date, author, profilePicture } = entry.data;
const authorData = { picture: profilePicture, name: author };

function formatDate(date) {
  let day = date.getDate().toString().padStart(2, "0");
  let month = (date.getMonth() + 1).toString().padStart(2, "0"); // January is 0!
  let year = date.getFullYear();
  return `${day}/${month}/${year}`;
}
---

<PageLayout title={title} mainTitle={title} color={color} author={authorData}>
  <div class="blog">
    <time>{formatDate(date)}</time>
    <Content />
  </div>
</PageLayout>

<style is:global>
  time {
    display: block;
    text-align: right;
    font-style: italic;
  }

  .blog img {
    max-width: min(var(--container-md), 100%);
    margin: var(--spacing-500) auto;
    display: block;
  }

  .blog pre.astro-code {
    margin-block: var(--spacing-400);
    padding: var(--spacing-100);

    &::-webkit-scrollbar {
      height: var(--spacing-100);
      width: var(--spacing-100);
    }

    &::-webkit-scrollbar-track {
      background-color: var(--scrollbar-track-background);
      border: 1px solid var(--scrollbar-track-border);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-thumb-background);
    }
  }
</style>
