---
import { getCollection } from "astro:content";
import PageLayout from "../../layouts/PageLayout.astro";

export async function getStaticPaths() {
  const testimonialsEntries = await getCollection("testimonials");
  return testimonialsEntries.map((entry, index) => {
    const prevTestimonial = testimonialsEntries.at(
      (index - 1) % testimonialsEntries.length,
    );
    const prevLink = prevTestimonial && prevTestimonial.slug;
    const nextTestimonial = testimonialsEntries.at(
      (index + 1) % testimonialsEntries.length,
    );
    const nextLink = nextTestimonial && nextTestimonial.slug;

    return {
      params: { slug: entry.slug },
      props: {
        entry,
        prevLink,
        nextLink,
      },
    };
  });
}

const { entry, prevLink, nextLink } = Astro.props;
const { Content } = await entry.render();
const { title, author, profilePicture } = entry.data;
const pageTitle = `Testimonial of ${title}`;
const mainTitle = pageTitle;
const authorProp = { name: author, picture: profilePicture };
---

<PageLayout
  backgroundImage="/images/testimonials-header.jpg"
  title={pageTitle}
  mainTitle={mainTitle}
  author={authorProp}
>
  <Content />
  <div class="d-flex justify-content-between">
    {prevLink && <a href={`/testimonials/${prevLink}`}>Previous testimonial</a>}
    {nextLink && <a href={`/testimonials/${nextLink}`}>Next testimonial</a>}
  </div>
</PageLayout>
