---
import { getCollection } from "astro:content";
import PageLayout from "../../layouts/PageLayout.astro";
import LocalTime from "../../components/LocalTime.jsx";

export async function getStaticPaths() {
  const sessionEntries = await getCollection("sessions");
  return sessionEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const {
  title,
  company,
  issueLink,
  repository,
  youtubeId,
  date,
  zoomLink,
  zoomPasscode,
  thumbnail,
} = entry.data;
const repoLink = issueLink ?? repository;
let linkText = (repoLink ?? "").replace("https://github.com/", "");
linkText =
  linkText.indexOf("/issues/") !== -1
    ? `${linkText.split("/issues/")[0]}#${linkText.split("/issues/")[1]}`
    : linkText;
---

<PageLayout title={title} mainTitle={title} containerClass="container session">
  {
    (repoLink || company) && (
      <div class="pb-3">
        {repoLink && (
          <a href={repoLink} target="_blank" class="text-decoration-none">
            <span class="badge bg-primary">{linkText}</span>
          </a>
        )}
        {company && <span class="badge bg-primary">{company}</span>}
      </div>
    )
  }
  {
    youtubeId && (
      <>
        <h2>Watch this session</h2>
        <div class="ratio ratio-16x9 mb-4">
          <iframe
            src={`https://www.youtube.com/embed/${youtubeId}`}
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          />
        </div>
      </>
    )
  }
  <Content />
  {
    !thumbnail && (
      <>
        <h2>Links</h2>
        <ul>
          <li>
            Date:
            <LocalTime client:only="react" utcDate={date} />
          </li>
          {zoomLink && (
            <li>
              Session link: <a href={zoomLink}>{zoomLink}</a>
            </li>
          )}
          {zoomPasscode && <li>Passcode: {zoomPasscode}</li>}
        </ul>
      </>
    )
  }
</PageLayout>
<style is:global>
  .session img {
    margin: 1rem auto;
    max-width: 960px;
    height: initial;
    display: block;
  }
</style>
