---
import { getCollection } from "astro:content";
import PageLayout from "../../layouts/PageLayout.astro";
import LocalTime from "../../components/LocalTime.jsx";
import YouTubeVideo from "../../components/YouTubeVideo.astro";

export async function getStaticPaths() {
  const sessionEntries = await getCollection("sessions");
  const colors = ["magenta", "yellow", "cyan"];

  return sessionEntries.map((entry, idx) => ({
    params: { slug: entry.slug },
    props: { entry, color: colors[idx % colors.length] },
  }));
}

const { entry, color } = Astro.props;
const { Content } = await entry.render();
const {
  title,
  company,
  issueLink,
  repository,
  youtubeId,
  date,
  zoomLink,
  zoomPasscode,
  thumbnail,
} = entry.data;
const repoLink = issueLink ?? repository;
let linkText = (repoLink ?? "").replace("https://github.com/", "");
linkText =
  linkText.indexOf("/issues/") !== -1
    ? `${linkText.split("/issues/")[0]}#${linkText.split("/issues/")[1]}`
    : linkText;
---

<PageLayout title={title} mainTitle={title} color={color}>
  {
    (repoLink || company) && (
      <div class="badges">
        {repoLink && (
          <a href={repoLink} target="_blank">
            <span class={`badge ${color}`}>{linkText}</span>
          </a>
        )}
        {company && <span class={`badge ${color}`}>{company}</span>}
      </div>
    )
  }
  {
    youtubeId && (
      <>
        <h2>Watch this session</h2>
        <YouTubeVideo youtubeId={youtubeId} />
      </>
    )
  }
  <Content />
  {
    !thumbnail && (
      <>
        <h2>Links</h2>
        <ul>
          <li>
            Date:
            <LocalTime client:only="react" utcDate={date} />
          </li>
          {zoomLink && (
            <li>
              Session link: <a href={zoomLink}>{zoomLink}</a>
            </li>
          )}
          {zoomPasscode && <li>Passcode: {zoomPasscode}</li>}
        </ul>
      </>
    )
  }
</PageLayout>
<style>
  /* TODO: check session with image */
  .badges a {
    text-decoration: none;
  }

  .badge {
    color: var(--white);
    padding: var(--spacing-50) var(--spacing-100);
    font-weight: 600;
    font-size: var(--font-100);
    box-shadow: 0 1px 1px var(--shadow-color);
    margin-right: var(--spacing-100);

    &.magenta {
      background-color: var(--magenta-500);
    }

    &.yellow {
      background-color: var(--yellow-300);
      color: var(--key-950);
    }

    &.cyan {
      background-color: var(--cyan-500);
    }
  }
</style>
