---
import { Icon } from "astro-icon";
import "../styles/style.sass";

const { title } = Astro.props;
const footerIcons = [
  {
    link: "https://twitter.com/amplifyfsharp",
    text: "amplifyfsharp",
    icon: "ion:logo-twitter",
    color: "#1DA1F2",
  },
  {
    link: "https://mastodon.social/@amplifyingfsharp",
    text: "@amplifyingfsharp",
    icon: "simple-icons:mastodon",
    color: "#6364ff",
  },
  {
    link: "https://www.youtube.com/@amplifyingfsharp",
    text: "@amplifyingfsharp",
    icon: "uil:youtube",
    color: "#ff0000",
  },
  {
    link: "https://github.com/amplifying-fsharp/",
    text: "amplifying-fsharp",
    icon: "uil:github",
  },
];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{title} | Amplifying F&#35;</title>
    <link rel="icon" href="/favicon.ico?v2" />
  </head>
  <body>
    <nav class="navbar navbar-expand-md bg-transparent">
      <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" href="/">Amplifying F&#35;</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarToggler"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarToggler"
        >
          <div class="navbar-nav">
            <a class="nav-link" aria-current="page" href="/incitation"
              >Incitation</a
            >
            <a class="nav-link" href="/join-us">Join us!</a>
          </div>
        </div>
      </div>
    </nav>
    <div>
      <slot />
    </div>
    <footer class="bg-dark text-white py-2">
      <div class="container d-flex justify-content-between align-items-center">
        {
          footerIcons.map(({ link, text, icon, color }) => (
            <a
              href={link}
              target="_blank"
              class="text-white text-decoration-none"
            >
              <Icon name={icon} width="24" height="24" color={color} />
              <span class="d-none d-md-inline-block">{text}</span>
            </a>
          ))
        }
      </div>
    </footer>
  </body>
</html>
<script>
  import { Collapse } from "https://cdn.skypack.dev/bootstrap@5.3.0-alpha1";
  new Collapse("#navbarToggler", { toggle: false });
</script>
