---
import Layout from "./Layout.astro";
import { getImage } from "@astrojs/image";
import { Image } from "@astrojs/image/components";

const props = Astro.props;
const { backgroundImage, mainTitle, author } = props;
const { src } = await getImage({
  src: backgroundImage,
  alt: "Foo",
  height: 300,
  quality: 75,
  aspectRatio: 21 / 3,
  format: "avif",
});
---

<Layout {...props}>
  <header style={{ backgroundImage: `url(${src})` }}>
    <div class="inner">
      <div class="container">
        <h1>{mainTitle}</h1>
        {
          author && (
            <div id="author">
              <Image
                src={author.picture}
                alt={`Profile picture of ${author.name}`}
                width={100}
                height={100}
                class="img-thumbnail"
              />
              <strong>{author.name}</strong>
            </div>
          )
        }
      </div>
    </div>
  </header>
  <main class="m-4">
    <div class="container">
      <slot />
    </div>
  </main>
</Layout>

<style lang="sass">
  @import "/node_modules/bootstrap/scss/functions"
  @import "/node_modules/bootstrap/scss/variables"
  @import "/node_modules/bootstrap/scss/mixins"

  header
    height: 200px
    background-size: cover
    background-position: 50%
    background-repeat: no-repeat
    color: $white
    position: relative

    .inner
      background-color: transparentize($dark, 0.5)
      position: relative
      z-index: 2
      height: 100%
      width: 100%

    @include media-breakpoint-up(md)
      height: 300px
      .inner
        padding: $spacer * 4

    #author
      display: flex
      align-items: end
      flex-direction: column
      strong
        margin-top: $spacer
</style>
